<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Mercado Liebre</title>
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
    integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
  <link rel="stylesheet" href="/css/style.css" />
</head>

<body>
  <header>
    <section class="header-container"> 

    <div class="logo">
      <a href="/">  <img src="/images/logo-mercado-liebre.svg" alt="Logo mercado liebre" /></a>
     
    </div>

    <div class="search-bar-container">
      <input type="text" class="search-bar" placeholder="Buscar productos, marcas y mas"/>
      <i class="fas fa-search"></i>
    </div>

    <div>
      <p class="quota">
        <i class="fas fa-hand-holding-usd"></i>
        Comprá en cuotas y sin tarjeta de crédito
      </p>

    </div>

    </section>

    <section class="subheader-container">
      <div>
        <nav class="nav1">
          <ul>
            <li> <a href="#">Todos los productos</a></li>
            <li> <a href="#">Ofertas</a></li>
            <li> <a href="#">Tiendas Oficiales</a></li>
            <li> <a href="#">Vender</a></li>
            <li> <a href="#">Ayuda</a></li>
          </ul>
        </nav>
      </div>

      <div>
        <nav class="nav1"> 
        <ul>
          <li>
            <a href="/register">Crea tu cuenta <i class="far fa-id-card"></i> </a>
          </li>

          <li>
            <a href="/login">Ingresá <i class="fas fa-sign-in-alt"></i></a>
          </li>

          <li>
            <a href="#">Mis compras <i class="fas fa-credit-card"></i></a>
          </li>
        </ul>
      </nav>
      </div>

    </section>
  </header>

  <main>

    <div class="banner">
      <img src="/images/img-home-banner.jpg" alt="Imagen con ofertas"  />
    </div>

    <h3 class="section-title">Basado en tu última visita</h3>

    <section class="card-container">

      <article class="card">
        <img src="/images/img-cafetera-moulinex.jpg" alt="Foto de cafetera Moulinex" />
        <div class="card-content">
          <div class="icon-truck">
            <i class="fas fa-truck"></i>
          </div>
          <div class="product-info">
            <p>$6.770</p>
            <p>40% OFF</p>
          </div>
          <h5 class="product-name">Cafetera Moulinex</h5>
        </div>
      </article>

      <article class="card">
        <img src="/images/img-macbook-pro-2019.jpg" alt="foto de MacBook Pro 2019" />
        <div class="card-content">
          <div class="icon-truck">
            <i class="fas fa-truck"></i>
          </div>
          <div class="product-info">
            <p>$230.000</p>
            <p>20% OFF</p>
          </div>
          <h5 class="product-name">MacBook Pro 2019</h5>
        </div>
      </article>

      <article class="card">
        <img src="/images/img-samsung-galaxy-s10.jpg" alt="foto galaxy s10" />
        <div class="card-content">
          <div class="icon-truck">
            <i class="fas fa-truck"></i>
          </div>
          <div class="product-info">
            <p>$70.500</p>
            <p>10% OFF</p>
          </div>
          <h5 class="product-name">Samsung Galaxy S10</h5>
        </div>
      </article>

      <article class="card">
        <img src="/images/img-tv-samsung-smart.jpg" alt="foto Smart Samsung" />
        <div class="card-content">
          <div class="icon-truck">
            <i class="fas fa-truck"></i>
          </div>
          <div class="product-info">
            <p>$23.200</p>
            <p>5% OFF</p>
          </div>
          <h5 class="product-name">SmartTv Samsung 43"</h5>
        </div>
      </article>

    </section>

    <h3 class="section-title">Ofertas</h3>

    <section class="card-container">

      <article class="card">
        <img src="/images/img-cafetera-moulinex.jpg" alt="Foto de cafetera Moulinex" />
        <div class="card-content">
          <div class="icon-truck">
            <i class="fas fa-truck"></i>
          </div>
          <div class="product-info">
            <p>$6.770</p>
            <p>40% OFF</p>
          </div>
          <h5 class="product-name">Cafetera Moulinex</h5>
        </div>
      </article>

      <article class="card">
        <img src="/images/img-macbook-pro-2019.jpg" alt="foto de MacBook Pro 2019" />
        <div class="card-content">
          <div class="icon-truck">
            <i class="fas fa-truck"></i>
          </div>
          <div class="product-info">
            <p>$230.000</p>
            <p>20% OFF</p>
          </div>
          <h5 class="product-name">MacBook Pro 2019</h5>
        </div>
      </article>

      <article class="card">
        <img src="/images/img-samsung-galaxy-s10.jpg" alt="foto galaxy s10" />
        <div class="card-content">
          <div class="icon-truck">
            <i class="fas fa-truck"></i>
          </div>
          <div class="product-info">
            <p>$70.500</p>
            <p>10% OFF</p>
          </div>
          <h5 class="product-name">Samsung Galaxy S10</h5>
        </div>
      </article>

      <article class="card">
        <img src="/images/img-tv-samsung-smart.jpg" alt="foto Smart Samsung" />
        <div class="card-content">
          <div class="icon-truck">
            <i class="fas fa-truck"></i>
          </div>
          <div class="product-info">
            <p>$23.200</p>
            <p>5% OFF</p>
          </div>
          <h5 class="product-name">SmartTv Samsung 43"</h5>
        </div>
      </article>

    </section>

  
  </main>

  <footer>

    <section class="footer-container">
    <article class="footer-article">
      <i class="fas fa-credit-card"></i>
      <h4>Pagá con tarjeta o en efectivo</h4>
      <p>
        Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o
        efectivo en puntos de pago. ¡Y siempre es seguro!
      </p>
    </article>
    <article class="footer-article">
      <i class="fas fa-gift"></i>
      <h4>Envío gratis desde $ 2.500</h4>
      <p>
        Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en
        miles de productos. Es un beneficio de Mercado Puntos.
      </p>
    </article>
    <article class="footer-article">
      <i class="fas fa-user-shield"></i>
      <h4>Seguridad, de principio a fin</h4>
      <p>
        ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas
        hacer, porque estás siempre protegid@.
      </p>
    </article>
  </section>
   <div class="footer-copy">
    <p>Copyright ©️ 1999-2020 MercadoLiebre S.R.L.</p>
   </div>
  </footer>
</body>

</html>